body{
    width: 770px;
    font-size: 1.5em;
    font-family: Arial, sans-serif;
    color: black;
    text-align: justify;
    display: flex;
    flex-flow: column ;
    
}

.right-column{
    width: 430px;
    display: flex;
    flex-flow: column;
    padding-left: 5px;
    
    

}

.left-column {
    width: 340px;
    margin: 5px;
}

#top-bar {
    background-image: "./img/cabecera.jpg";
    background-color: #cccccc00;
    display: flex;
    width:430px;
    height:100px;    
    
}


.content {
    display: flex;
    width: 430px;
    height: 100%;
    flex-flow: row;
    
 }


footer{
    width: 770px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#main {
    width: 430px;
    display: flex;
    /*flex-flow: row;*/
    
    
}

#main-text{
    width: 65%;
    padding-left: 10px;
    margin: 5px;
    
}

#relevant-links{
    width: 35%;
    margin: 5px;
    
    
}


a {
    color: blue;
}

a:visited{
    color: darkblue;
}

a:hover{
    color: red;
}

table a{
    color: green;
}

p {
    margin-top: 0.5em;
}

table {
    width: 100%;
    

}
.menu-elements{
    padding: 0.3em;
    margin-bottom: 0.7em;
    background-color: coral;
}

.menu-elements:hover{
    background-color: crimson;
}

